.info__container {
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 98%;
    height: auto;
    background: #f8f6ff;
    padding: 1rem;
    margin: 1rem;
    
    border-radius: 0.4rem;
    border: .2rem solid #9894c7;
}

.hide_container {
    visibility: hidden;
}

.message__title {
    padding: 0.2rem 0;
}

.error {
    color: #EB8B9E;
}

.info {
    color: rgb(36, 126, 36);
}

.message__details {
    margin: 0;
}

.error {
    background-color: #FDEDEE;
    border: .2rem solid #EB8B9E;
}

.info {
    background-color: rgba(140, 210, 140, 0.631);
    border: .2rem solid rgb(36, 126, 36);
}
